/* 1 rem == 10 px Font Size */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

// Generic typography

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: black;
  line-height: 2.4rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  line-height: 1;
  margin: 0;
  // margin-bottom: 20px;
}

h1 {
  font-size: calc(4.5rem + (190 - 45) * ((100vw - 320px) / (1080 - 320)));
  letter-spacing: -5px;
}

@media (max-width: 840px) {
  h1 {
    font-size: calc(5.5rem + (140 - 45) * ((100vw - 320px) / (840 - 320)));
  }
}

@media (min-width: 1080px) {
  h1 {
    font-size: 20rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: $mainBlue;
}

h4 {
  font-size: 2.2rem;
}

address {
  font-style: normal;
}
