/* 1 rem == 10 px Font Size */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

// Generic typography

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: black;
  line-height: 1.6;

  .theme-light {
    --color-background: white;
    --color-font: black;
  }

  .theme-dark {
    --color-background: black;
    --color-font: white;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  line-height: 1;
  margin: 0;
  // margin-bottom: 20px;
}

h1 {
  font-size: calc(4.5rem + (150 - 45) * ((100vw - 320px) / (1080 - 320)));
  letter-spacing: 0px;
}

@media (max-width: 900px) {
  h1 {
    font-size: calc(4.5rem + (140 - 45) * ((100vw - 320px) / (840 - 320)));
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 19rem;
  }
}

h2 {
  font-size: 3.5rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: $secondaryColor;
}

// h4 {
//   font-size: 2.2rem;
// }

p {
  font-size: calc(1.4rem + (16 - 14) * ((100vw - 320px) / (1080 - 320)));
}

address {
  font-style: normal;
}

a {
  font-size: 1.8rem;
  font-weight: 500;
}
