.wrapper {
  width: 95%;
  // margin-left: 2.5%;
  margin: 0 auto;
  max-width: 1080px;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
address::selection {
  background: $highlightRed;
  color: white;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  color: $highlightRed;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

h2 {
  border-top: 2px lightgrey solid;
  padding: 40px 0;
}

h3 {
  padding-bottom: 30px;
}

h4 {
}

em {
  font-weight: 600;
}
