.theme-light {
  --color-background: white;
  --color-nav-background: rgba(255, 255, 255, 0.95);
  --color-font: black;
}

.theme-dark {
  --color-background: black;
  --color-font: white;
  --color-nav-background: rgba(0, 0, 0, 0.9);
}

*:focus {
  box-shadow: 0px 0px 5px $highlightRed;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-font);
}

.wrapper {
  width: 80%;
  // margin-left: 2.5%;
  margin: 0 auto;
  max-width: 1080px;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
li::selection,
address::selection {
  background: $highlightRed;
  color: white;
}

a {
  color: var(--color-font);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
a:focus,
a:focus > i {
  color: $highlightRed;
}

p {
  margin: 0;
  padding: 0;
  // margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

h2 {
  // border-top: 2px lightgrey solid;
  padding-bottom: 50px;
}

h3 {
  padding-bottom: 20px;
}

h4 {
}

em {
  font-weight: 600;
}

.fab {
  font-size: 2rem;
}

.icon-container {
  padding-bottom: 20px;
  i {
    color: var(--color-font);
  }
  i:hover {
    color: $highlightRed;
  }
}
