// header

header {
  min-height: 100vh;
  position: relative;
}

.header-content {
  padding-top: 130px;
  margin-left: 25%;
}

// Nav Bar

.nav-bar {
  display: flex;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 25px 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 2;
  // transition: background-color 0.3s ease-in-out;
}

.nav-bar-flexbox {
  display: flex;
  align-items: center;
}

.nav-bar-black {
  background-color: black;
}

// Hamburger Menu
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.burger {
  width: 100%;
  height: 4px;
  background: $mainBlue;
  border-radius: 5px;
  box-shadow: 0 2px 5px 4gba (255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: $mainBlue;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.burger::before {
  transform: translateY(-180%);
}
.burger::after {
  transform: translateY(+180%);
}

/* Hamburger Menu Animation */

.menu-btn.open .burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

// Logo

.logo-container {
  margin-left: 20px;
}

.logo {
  width: 150px;
  font-size: 20px;
  font-weight: 600;
  color: $mainBlue;
  letter-spacing: 3px;
  text-transform: uppercase;
}

// drawer menu

.drawer-container {
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  transform: translateY(-100%);
  z-index: 1;
  transition: transform 0.3s ease-in-out;

  padding-top: 80px;
  nav {
    width: 100%;
    ul {
      li {
        border-top: 2px solid;
        padding: 25px 0;
        a {
          // color: black;
          font-size: 3.5rem;
        }
        a:hover {
          color: $highlightRed;
        }
      }
    }
  }
}

.open-drawer {
  transform: translateY(0);
}

.intro-container {
  p {
    font-size: calc(2rem + (32 - 20) * ((100vw - 320px) / (1080 - 320)));
    line-height: 1.15;
    margin-top: 60px;
  }
}

.arrow-link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding: 20px;
  transform: translateX(-35%);
}

.down-arrow {
  border: solid;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
}

// Main

section,
footer {
  padding-top: 50px;
  margin-top: 100px;
}

// About Section

.about-section {
  min-height: 90vh;
}

.profile-img-container img {
  border-radius: 5px;
}

.about-contents {
  h4 {
    padding-bottom: 30px;
    font-weight: 600;
  }
  p {
    // font-size: 1.8rem;
    font-size: calc(1.6rem + (17 - 16) * ((100vw - 320px) / (1080 - 320)));
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 30px;
  }
}

.about-top,
.about-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.about-top > *,
.about-skills > * {
  width: calc(47.5%);
  min-width: 200px;
  flex-grow: 1;
}

.about-top {
  align-items: center;
}

.about-skills {
  margin-top: 100px;
}

.bordered-list-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.bordered-list-items li {
  display: inline-block;
  // border: 1px solid black;
  border-width: 1px;
  border-style: solid;
  padding: 1px 5px;
  border-radius: 3px;
  font-weight: 400;
}

.about-skills li:hover {
  color: $highlightRed;
}

// End of About Section

// Projects Section

.projects-section {
  .projects-list > li {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-bottom: 50px;

    > * {
      width: calc(47.5%);
      min-width: 200px;
      flex-grow: 1;

      img {
        border-radius: 10px;
      }

      p {
        margin-top: 10px;
      }
    }
  }
}
// End of Projects Section

// Contact Section
.contact-section {
  margin-bottom: 100px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.contact-container > * {
  width: calc(47.5%);
  min-width: 200px;
  flex-grow: 1;
}

.contact-container a {
  color: $mainBlue;
}

.contact-container a:hover,
.contact-container a:focus {
  color: $highlightRed;
}

.contact-left p {
  margin: 0;
}

.contact-right li {
  margin-bottom: 10px;
}

// Footer

footer {
  border-top: 2px lightgrey solid;
  padding-top: 10px;
}

// .light-mode {
//   background-color: white;
//   color: black;
//   border-color: black;
// }

.dark-mode {
  background-color: black;
  color: white;
  border-color: white;
}

.nav-dark-mode {
  background-color: rgba(0, 0, 0, 0.95);
}
