// Main

// About Section

.about-section {
  min-height: 90vh;
  padding-top: 90px;
}

.about-top,
.about-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}

.about-top > *,
.about-skills > * {
  width: calc(47.5%);
  min-width: 300px;
  flex-grow: 1;
}

.about-skills {
  margin-top: 50px;
}

// End of About Section

// Projects Section

.projects-section {
  padding-top: 90px;
  li {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    margin-bottom: 50px;

    > * {
      width: calc(47.5%);
      min-width: 300px;
      flex-grow: 1;
    }
  }
}

// Contact Section
.contact-section {
  padding-top: 90px;
  margin-bottom: 100px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}

.contact-container > * {
  width: calc(47.5%);
  min-width: 300px;
  flex-grow: 1;
}

// Footer

footer {
  border-top: 2px lightgrey solid;
  padding-top: 10px;
}
