// dark mode switch styling

.onoffswitch {
  position: relative;
  width: 46px;
}

.onoffswitch-label:hover,
.onoffswitch-checkbox:focus + .onoffswitch-label {
  box-shadow: 0px 0px 5px $highlightRed;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 50px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 16px;
  padding: 0;
  line-height: 16px;
  font-size: 10px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 8px;
  background-color: #ffffff;
  color: #000000;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 5px;
  background-color: #000000;
  color: #ffffff;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 16px;
  margin: 1px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 28px;
  border: 1px solid #999999;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

// dark mode class styling

.dark-mode {
  background-color: black;
  color: white;
  border-color: white;
}

.nav-dark-mode {
  background-color: rgba(0, 0, 0, 0.95);
}
